/*
* 样式重置
*/
body{margin:0;padding:0;background:#fff;font-size:14px;line-height:22px;overflow: auto;font-family: -apple-system,BlinkMacSystemFont,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
div,p,li{font-size:14px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select,button{font-size:13px;line-height:16px;outline: none;box-sizing: border-box;background-color: rgba(255,255,255,0)}
img{border:0;}
ul,li{list-style-type:none;}
li{font-size:14px;}
a{text-decoration:none;color: white;}
a,button:hover{cursor: pointer;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
/*
  header样式
*/
.wrapper{
    max-width: 2000px;
    text-align: center;
    width:100%;
    height:100%;
    overflow: hidden;
    margin:0 auto;
}
.header{
    width: 100%;
    min-width: 1400px;
    height:90px;
    line-height: 90px;
    color: white;
    position: fixed;
    top:0;
    left: 0;
    z-index: 6666;
    transition: background 0.8s;
    -moz-transition: background 0.8s; /* Firefox 4 */
    -webkit-transition: background 0.8s; /* Safari 和 Chrome */
    -o-transition: background 0.8s; /* Opera */
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.header .header_wide{
    width: 94%;
    margin:0 auto;
    display: flex;
    max-width: 1800px;
}
.header_active{
    background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0)); /* Firefox 3.6 - 15 */
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.header:hover{
    background: rgba(0,0,0,0.7);
}
.header #brand{
    flex:1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.header #brand img{
    vertical-align: middle;
    margin: 0 auto;
}
.header #navigation{
    flex:6;
}
#nav1{
    display: flex;
}
#nav1 li{
    justify-content: flex-start;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    height: 90px;
    line-height: 90px;
    padding: 0 27px;
    position: relative;
}
#nav1 li:hover .nav2{
    display: block;
}
.header .nav2{
    display: none;
    width:100%;
    float: none;
    position: absolute;
    left:0;
    top: 90px;
    line-height: 25px;
    background-color: rgba(0,0,0,0.8);
}
.header .nav2 a{
    display: block;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    text-indent: 20px;
    height: 30px;
    padding: 0;
    color: #ffffff;
    line-height: 30px;
}
.header .nav2 a:hover{
    color: #009688;
    text-indent: 35px;
}
.header a{
    display: inline-block;
    height: 90px;
}
.header a:hover{
    font-weight: 700;
    color: #009688;
}

.header #searcher{
    flex:2;
    text-align: right;
    font-size: 16px;
    height: 90px;
    overflow: hidden;
}
#searcher #searchercon{
    width: 40px;
    padding: 0 5px;
    display:inline-block;
    height: 30px;
    line-height: 30px;
    margin: 30px 0;
    border:0 solid rgba(255,255,255,0.7);
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
}
.header #searchercon button{
    float: left;
    width: 10%;
    border: none;
    height: 28px;
    line-height:28px;
    background-color: rgba(255,255,255,0);
}
.header #searchercon input{
    float: left;
    width: 80%;
    font-size: 16px;
    border: none;
    height: 28px;
    line-height:28px;
    background-color: rgba(255,255,255,0);
}
.header #searchercon img{
    margin-top: 3px;
    height:20px;
    width: 20px;
    display: inline-block;
}
#searchercon .sear{
    display: inline-block;
}
.header #logreg{
    flex:1;
    color: gainsboro;
}
.header #logreg button{
    font-size: 16px;
    font-weight: 700;
    border:none;
    border-radius: 13px;
    text-align: center;
    width: 48%;
    height:26px;
    box-sizing: border-box;
    color: white;
}
#logreg button:active{
    background-color: rgba(255,255,255,0.8);
    color: black;
}
.header #logreg button:nth-child(2){
    border:1px solid #ffffff;
}





/*
  banner样式
*/
.banner{
    width: 100%;
    height:820px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: 820px;
    position: relative;
}
.banner:hover .slick-prev{
    background: url("image/arror2_left.png") no-repeat;
}
.banner:hover .slick-next{
    background: url("image/arro2_right.png") no-repeat;
}
/*
.banner .director{
    display: none;
}
.banner .director span{
    cursor: pointer;
    position: absolute;
    top:48%;
}
#arrow_left{
    left:50px;
}
#arrow_right{
    right:50px;
}
*/

.bannercon{
    position: absolute;
    left:0;
    bottom: 0;
    height: 85px;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}
.bannercon h3{
    font-size: 24px;
    font-weight:500;
    color:#ffffff;
    width: 100%;
    margin:30px auto 30px;
}
.bannercon button{
    border:1px solid #ffffff;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    text-indent: 15px;
}
.bannercon button span{
    display: none;
    content: "\2192";
    width: 40px;
}
.bannercon button:hover span{
    display: inline-block;
}
.banner:hover .bannercon2{

}
.banner:hover .director{
    display: block;
}
.linkcontent{
    width: 100%;
    height: 418px;
}
.linkcontent #textcon{
    padding-top: 75px;
    height: 188px;
    width: 1200px;
    margin:0 auto;
    display: flex;
}
.linkcontent #textcon span{
    flex-grow: 0;
    width: 100px;
    font-size: 80px;
    font-weight: 800;
}
.linkcontent #textcon div{
    flex-grow: 1;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
.linkcontent #piccon{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.linkcontent div a{
    flex: 1;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.linkcontent  a img{
    display: inline-flex;
    width:100px;
    height: 140px;
}
.core{
    width: 100%;
    height:1000px;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: black;
}
.core img{
    position: absolute;
    left:0;
    top:0;
}
.core .coretitle{
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    left: 0;
    top: 100px;
    z-index: 99;
    line-height: 30px;
}
.core .core1{
    z-index: 100;
    flex: 1;
    border-right: 1px solid gray;
    background-color: rgba(255,255,255,0.1);
}
.core .core1 div{
    width: 90%;
    margin-top: 400px;
    margin-left: 10%;
    transition: margin-top 0.5s ease;
    z-index: 99;
}
.core .core1 h3{
    color:grey;
    font-size: 24px;
    line-height: 60px;
    text-align: left;
    z-index: 99;
}
.core .core1 p{
    width: 50%;
    color: rgba(255,255,255,0);
    font-size: 16px;
    line-height: 24px;
    display: block;
    transition: color 0.5s ease;
    z-index: 99;
}
.core1:hover div{
    margin-top: 350px;
}
.core1:hover h3{
    color:white;
}
.core1:hover p{
    color: rgba(255,255,255,0.9);
    z-index: 66;
}
.advertising{
    padding-top: 120px;
    width:100%;
    height:590px;
    display: flex;
    letter-spacing: 2px;
}
.advertising .advleft{
    flex:3;
}
.advertising .advleft #advimg{
    width: 70%;
    margin-left: 15%;
    position: relative;
    display: flex;
}
.advertising #advimg img{
    opacity: 0.5;
    position: absolute;
    width: 25%;
    box-shadow: 30px 5px 30px #888888;
}
.advertising .advright{
    flex:2;
}
.advertising .advright h3{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 34px;
}
.advertising .advright h6{
    width: 580px;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    padding-bottom: 20px;
    margin-left: 24px;
}
.advertising .advright p{
    width: 580px;
    font-size: 14px;
    line-height: 30px;
    margin-left: 24px;
}
.videobox{
    width:100%;
    height:500px;
    overflow: hidden;
    position: relative;
    background-color: gray;
}
.videobox video{
    width: 100%;
}
.videobox #cover{
    width: 100%;
    height: 500px;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.videobox #cover h2{
    color: white;
    font-size: 30px;
    line-height: 50px;
    margin: 200px auto auto 10%;
    text-align: left;
}
.videobox #cover a{
    display: block;
    width: 100px;
    height: 100px;
    color: white;
    font-size: 50px;
    line-height: 100px;
    margin-left: 10%;
    transition: 0.5s;
}
.videobox #cover a img{
    width: 70px;
    height: 70px;
    margin: 15px;
}
.videobox #cover a:hover img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.videobox #cover #my-video{
    margin:auto;
}
.modal{
    display: none;
    background:rgba(0,0,0,0.8);
    overflow:hidden;
    z-index:10001;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.partner{
    width: 100%;
    height:590px;
    background-color: #E7E7E7;
}
.partner h3{
    text-align: center;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    line-height: 182px;
}
.partner ul{
    width: 100%;
    height:100px;
    display: flex;
    flex-wrap: wrap;
}
.partner li{
    opacity: 0.1;
    margin:30px 0 0;
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;

}
.partner li img{
    display: inline-flex;
    height: 48px;
}

/*
  footer样式
*/
.footer{
    width: 100%;
    height: 400px;
    background-color: #242424;
}
.footer #footerwrapper{
    width: 80%;
    margin-left: 10%;
}
.footer #footerwrapper span:hover{
    cursor: pointer;
    color: #ffffff;
    text-indent: 5px;
}
#footerwrapper #footerleft {
    margin-top: 80px;
    width: 70%;
    float: left;
}
#footerleft ul{
    display: flex;
}
#footerleft ul li{
    width: 200px;
    text-align: left;
}
#footerleft ul h5{
    color: #909090;
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
}
#footerleft span{
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #6A6A6A;
}
#footerleft p{
    color: #6A6A6A;
    font-size: 14px;
    line-height: 100px;
}
#footerwrapper #footerright{
    margin-top: 80px;
    width: 30%;
    float: left;
}
#footerright #footr1{
    width: 50%;
    height: 180px;
    float: right;
    text-align: right;
    font-size: 14px;
    color: #6A6A6A;
    line-height: 24px;
}
#footerright #footr1 span{
    display: block;
    cursor: pointer;
}
#footerright #footr1 a{
    display: inline-block;
    margin-top: 50px;
}
#footerright #footr2{
    width: 50%;
    height: 180px;
    float: right;
    text-align: right;
}
#footerright p{
    text-align: center;
    font-size: 14px;
    color: #6A6A6A;
    line-height: 24px;
}

#back{
    position: fixed;
    z-index: 888;
    right:50px;
    bottom: 100px;

}
#back a{
    display: inline-block;
    width: 55px;
    height: 55px;
}


