/*
* 样式重置
*/
html{font-size: 100px;color:black;}
body{margin:0;padding:0;background:#fff;font-size:14px;line-height:22px;overflow: auto;font-family: -apple-system,BlinkMacSystemFont,Arial,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}
div,p,li{font-size:16px;}
form,ul,li,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
input,select,button{font-size:13px;line-height:16px;outline: none;box-sizing: border-box;background-color: rgba(255,255,255,0)}
img{border:0;}
ul,li{list-style-type:none;}
li{font-size:14px;}
a{text-decoration:none;}
a,button:hover{cursor: pointer;}
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
/*
  header样式
*/
.wrapper{
    max-width: 2000px;
    min-width: 1400px;
    text-align: center;
    width:100%;
    height:100%;
    overflow: hidden;
    margin:0 auto;
}
.header{
    width: 100%;
    min-width: 1400px;
    height:90px;
    line-height: 90px;
    position: fixed;
    top:0;
    left: 0;
    z-index: 6666;
    transition: background 0.8s;
    -moz-transition: background 0.8s; /* Firefox 4 */
    -webkit-transition: background 0.8s; /* Safari 和 Chrome */
    -o-transition: background 0.8s; /* Opera */

    font-size: 16px;
    box-shadow: 10px 5px 20px rgba(0,0,0,0.04);
}
.header .header_wide{
    padding: 0 40px;
    margin:0 auto;
    max-width: 1920px;
}
.header:hover{
    background: rgba(255,255,255,1);
}
.header:hover a{
    color: rgba(0,0,0,0.7);
}
.header:hover #searchercon{
    border: 0 solid rgba(0,0,0,0.7);
    color: rgba(0,0,0,0.7);
}
.header:hover #logreg button{
    color: rgba(0,0,0,0.7);
}
.header:hover #logreg button:nth-child(2){
    border:1px solid rgba(0,0,0,0.7);
}
.header:hover #searchercon>#searchicon{
    background-image: url("image/Search.png");
}
.header:hover #searchercon>#closeicon{
    background-image: url("image/CLOSE.png");
}
.header #brand{
    width: 110px;
    float: left;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.header #brand img{
    vertical-align: middle;
    margin: 0 auto;
}
.header #navigation{
    float: left;
    width: auto;
}
#nav1{
    display: flex;
}
#nav1 li{
    justify-content: flex-start;
    text-align: center;
    font-size: .16rem;
    font-weight: 500;
    height: .9rem;
    line-height: .9rem;
    padding: 0 .27rem;
    position: relative;
    color: rgba(0,0,0,0.8);
}
#nav1 li:hover .nav2{
    display: block;
}
.header .nav2{
    display: none;
    width:100%;
    float: none;
    position: absolute;
    left:0;
    top: .9rem;
    line-height: .25rem;
    background-color: rgba(255,255,255,0.7);
}
.header .nav2 a{
    display: block;
    font-size: .14rem;
    font-weight: 200;
    text-align: left;
    text-indent: .25rem;
    height: .3rem;
    padding: 0;
    color: rgba(0,0,0,0.6);
    line-height: .3rem;
}
.header .nav2 a:hover{
    color: rgba(0,0,0,0.9);
    text-indent: .30rem;
}
.header a{
    display: inline-block;
    height: .9rem;
    color:rgba(255,255,255,0.9);
}
.header a:hover{
    font-weight: 700;
    color: rgba(0,0,0,0.9);
}

.header #searcher{
    width: 250px;
    float: right;
    text-align: right;
    font-size: .16rem;
    height: .9rem;
    overflow: hidden;
}
#searcher #searchercon{
    width: .4rem;
    padding: 0 .05rem;
    display:inline-block;
    height: .3rem;
    line-height: .3rem;
    margin: .3rem 0;
    border:0 solid rgba(0,0,0,0.7);
    box-sizing: border-box;
    border-radius: .15rem;
    overflow: hidden;
}
.header #searchercon button{
    float: left;
    width: 30px;
    border: none;
    height: .28rem;
    line-height:.28rem;
    background-color: rgba(255,255,255,0);
}
.header #searchercon input{
    float: left;
    width: 176px;
    font-size: .16rem;
    border: none;
    height: .28rem;
    line-height:.28rem;
    background-color: rgba(255,255,255,0);
}
.header #searchercon img{
    margin-top: .03rem;
    height:.20rem;
    width: .20rem;
    display: inline-block;
}
#searchercon #searchicon{
    background: url("image/sowhite.png") no-repeat center;
    background-size: 20px 20px;
}
#searchercon #closeicon{
    background: url("image/CLOSE1.png") no-repeat center;
    background-size: 20px 20px;
}
#searchercon .sear{
    display: inline-block;
}
.header #logreg{
    float: right;
    width: 150px;

}
.header #logreg button{
    font-size: .16rem;
    font-weight: 700;
    border:none;
    border-radius: .13rem;
    text-align: center;
    width: 48%;
    height:.26rem;
    box-sizing: border-box;
    color: white;
}
#logreg button:active{
    background-color: rgba(0,0,0,0.3);
    color: black;
}
.header #logreg button:nth-child(2){
    border:1px solid #ffffff;
}





/*
  banner样式
*/
.banner{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}
.banner .imglist a{
    display: inline-block;
    width: 100%;
    height:auto;
    position: relative;
}
.banner img{
   position: static;
}
.banner:hover .slick-prev{
    background: url("image/arror2_left.png") no-repeat center;
}
.banner:hover .slick-next{
    background: url("image/arro2_right.png") no-repeat center;
}
.banner .bancon{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 160px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    background-color: rgba(0,0,0,0.6);
    z-index: 99;
}
.bancon h3{
    font-size: 28px;
    font-weight:500;
    color:#ffffff;
    width: 100%;
    line-height: 68px;
    margin-top: 20px;
}
.bancon p{
    font-size: 16px;
    height: 50px;
}
.bancon p span{
    width: auto;
    color: white;
    padding: 8px 20px;
    line-height: 32px;
    border:1px solid white;
    border-radius: 16px;
}
.banner:hover .director{
    display: block;
}
.linkcontent{
    width: 100%;
    height: auto;
}
/*.linkcontent h3{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 132px;

}*/
.linkcontent #textcon{
    height: auto;
    width: 1200px;
    margin: 100px auto;
    display: flex;
}
.linkcontent #textcon span{
    width: 95px;
}
.linkcontent #textcon div{
    width: 1010px;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    letter-spacing: 0.06em;
}
.linkcontent #piccon{
    width: 100%;
    background-color: #F5F5F5;
}
.linkcontent #piccon div{
    margin-left: 10%;
    width: 80%;
    display: flex;
}
.linkcontent div a{
    cursor: none;
    flex: 1;
    height: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0 0;
    opacity: 0.2;

}
.linkcontent  a img{
    display: inline-flex;
    width:118px;
    height: 140px;
}
.core{
    width: 100%;
    height:auto;
    min-height: 600px;
    overflow: hidden;
    display: flex;
    position: relative;
    background-color: black;
}
.core img{
    width: 100%;
    height: 100%;
    min-height: 600px;
    position: absolute;
    left:0;
    top:0;
}
.core .coretitle{
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    left: 0;
    top: 100px;
    z-index: 99;
    line-height: 30px;
}
.core .core1{
    z-index: 100;
    flex: 1;
    border-right: 1px solid rgba(200,200,200,0.6);
    background-color: rgba(255,255,255,0.1);
}
.core .core1 div{
    width: 90%;
    margin-top: 400px;
    margin-left: 10%;
    transition: margin-top 0.5s ease;
    z-index: 9;
    pointer-events: none;

}
.core .core1 h3{
    color:rgba(255,255,255,0.6);
    font-size: 26px;
    font-weight: 500;
    line-height: 60px;
    text-align: left;
    z-index: 99;

}
.core .core1 p{
    width: 180px;
    color: rgba(255,255,255,0);
    font-size: 16px;
    line-height: 30px;
    display: block;
    transition: color 0.5s ease;
    z-index: 99;
    text-align: left;
}
.core1:hover div{
    margin-top: 350px;
}
.core1:hover h3{
    color:white;
}
.core1:hover p{
    color: rgba(255,255,255,0.9);
    z-index: 66;
    text-align: left;
}
.advertising{
    width:100%;
    height:auto;
    letter-spacing: 1px;
}
.advertising #adv_wrapper{
    padding: 120px 10%;
    display: flex;
}
.advertising .advleft{
    flex:3;
}
.advertising .advleft #advimg{
    width: 80%;
    height: 360px;
    position: relative;
    display: flex;
}
.advertising #advimg img{
    opacity: 0.5;
    position: absolute;
    width: 25%;
    height: 300px;
    box-shadow: 18px 15px 45px rgba(0,0,0,0.1);
}
.advertising .advright{
    padding: 200px 0 0;
    flex:2;
    text-align: left;
    opacity: 0.2;
}
.advertising .advright h3{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 34px;
}
.advertising .advright h6{
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 25px;
}
.advertising .advright p{
    width: 100%;
    font-size: 14px;
    line-height: 26px;
}
.videobox{
    width:100%;
    height:545px;
    overflow: hidden;
    position: relative;
    background-color: gray;
}
.videobox #video1{
    width: 100%;
    margin-top: -400px;
}
.videobox #cover{
    width: 100%;
    height: 545px;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.videobox #cover h2{
    color: white;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 48px;
    margin: 210px auto auto 10%;
    text-align: left;
}
.videobox #cover a{
    display: block;
    width: 80px;
    height: 80px;
    color: white;
    font-size: 50px;
    line-height: 100px;
    margin-left: 10%;
    transition: 0.5s;
}
.videobox #cover a img{
    width: 70px;
    height: 70px;
    margin-top: 15px;

}
.videobox #cover a:hover img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.videobox #cover #my-video{
    margin:auto;
}
.modal{
    display: none;
    background:rgba(0,0,0,0.8);
    overflow:hidden;
    z-index:10001;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.partner{
    width: 100%;
    height:auto;
    padding-top: 55px;
    padding-bottom: 100px;
    background-color: #E7E7E7;
}
.partner h3{
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    line-height: 120px;
}
.partner ul{
    width: 86%;
    margin-left: 7%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
}
.partner li{
    opacity: 0.1;
    margin:30px 0 0;
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;

}
.partner li img{
    display: inline-flex;
    height: 48px;
}

/*
  footer样式
*/
.footer{
    width: 100%;
    height: 400px;
    background-color: #242424;
}
.footer #footerwrapper{
    width: 80%;
    margin-left: 10%;
}
.footer #footerwrapper span:hover{
    cursor: pointer;
    color: #ffffff;
    text-indent: 5px;
}
#footerwrapper #footerleft {
    margin-top: 80px;
    width: 70%;
    float: left;
}
#footerleft ul{
    display: flex;
}
#footerleft ul li{
    width: 200px;
    text-align: left;
}
#footerleft ul h5{
    color: #909090;
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
}
#footerleft span{
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    color: #6A6A6A;
}
#footerleft p{
    text-align: left;
    color: #6A6A6A;
    font-size: 13px;
    line-height: 70px;
}
#footerwrapper #footerright{
    margin-top: 80px;
    width: 30%;
    float: left;
}
#footerright #footr1{
    width: 50%;
    height: 180px;
    float: right;
    text-align: right;
    font-size: 12px;
    color: #6A6A6A;
    line-height: 22px;
}
#footerright #footr1 span{
    display: block;
    cursor: pointer;
}
#footerright #footr1 p{
    text-align: right;
}
#footerright #footr1 a{
    display: inline-block;
    margin: 10px 4px;
    width: 35px;
    height: 35px;
}
#footerright #footr1 a img{
    width: 35px;
    height: 35px;
}
#footerright #footr2{
    width: 50%;
    height: 180px;
    float: right;
    text-align: center;
}
#footerright p{
    text-align: left;
    font-size: 13px;
    color: #6A6A6A;
    line-height: 24px;
}

#back{
    position: fixed;
    z-index: 888;
    right:40px;
    bottom: 40px;
    display: none;

}
#back a{
    display: inline-block;
    width: 55px;
    height: 55px;
}


